@charset "UTF-8";

@font-face {
    font-family: 'inter';
    src: url(assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: 'interbold';
    src: url(/assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: 'intersemi';
    src: url(/assets/fonts/static/Inter-SemiBold.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    position: relative;
    padding: 10px;
    width: 100%;
    height: 100vh;
}

.inside-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 400px;
    height: 600px;
    background-color: hsl(0, 0%, 12%);
}

.inside-block > img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.inside-block > h1 {
    font-family: inter;
    color: hsl(0, 0%, 100%);
}

.inside-block > strong > p {
    font-family: intersemi;
    font-size: 14px;
    color: hsl(75, 94%, 57%);
}

.inside-block > p {
    font-family: inter;
    font-size: 14px;
    color: hsl(0, 0%, 20%);
}



